# Autotools specifics
*.o
Makefile
Makefile.in
autom4te.cache/
aclocal.m4
config.h
config.h.in
config.log
config.status
configure
configure_aux/
.dirstamp
.deps/
stamp-h1
# lgvl specifics
**/*.o
**/*.swp
**/*.swo
tags
docs/api_doc
